<!-- <h1>Battleship Game</h1> -->
<div class="container">
    <div id="menu">
        <button (click)="getPlayers()">New Game</button>
        <button (click)="AIShot()">AI Shot</button>
    </div>
    <hr>
    <div class="game-display">
        <h4>Player's Fleet</h4>
        <div class="ship-display" *ngFor="let ship of player_1?.board.ships">
            <h4>Ship: {{ ship.name }}, Hitpoints: {{ ship.hitpoints }}</h4>
        </div>
    </div>
    <hr>
    <div class="game-display">
        <h4>Computer's Fleet</h4>
        <div class="ship-display" *ngFor="let ship of player_2?.board.ships">
            <h4>Ship: {{ ship.name }}, Hitpoints: {{ ship.hitpoints }}</h4>
        </div>
    </div>
    <hr>
    <div class="game-display">
        <canvas #canvasShots (click)="shoot($event)" width="660" height="660"></canvas>
        <div class="game-diplay">
            <canvas #canvasPlayer width="300" height="300"></canvas>
            <h4>Player's Grid</h4>
        </div>
        
    </div>
</div>